/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
}
h1 {
  text-align: center;
}
.search_wrapper {
  text-align: center;
}
#link {
  width: 100%;
  max-width: 500px;
  height: 25px;
  margin: 10px;
}
#ok {
  height: 25px;
    margin: 10px;
}